.Button {
  padding: 10px 20px;
  cursor: pointer;
}

.Button_PRIMARY {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.Button_PRIMARY:hover {
  background-color: var(--primary-color);
}

.Button_SECONDARY {
  background-color: var(--lightgray-color);
  color: black;
  border: none;
  border-radius: 5px;
}

.Button_SECONDARY:hover {
  background-color: var(--lightgray-color);
}

.Button_LINK {
  display: inline;
  background-color: white;
  color: var(--primary-color);
  border: none;
  padding: 0;
}
