@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NotoSansKR-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

html,
body {
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  font-family: "NotoSansKR", sans-serif;
  word-break: break-all; /* 링크가 영역 밖으로 넘어가지 않도록 */
}

* {
  box-sizing: border-box; /* box-sizing을 전역적으로 설정해 레이아웃 계산을 직관적으로 만듬.*/
}

#root {
  background-color: white;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 20px;
}

:root {
  --primary-color: #21ba6e;
  --secondary-color: #a269cf; /*rgb(44, 96, 156);*/
  --lightgray-color: rgb(245, 245, 245);
  --text-color: #333;
}

/* 구글 애드센스 광고 패딩 */
.mys-wrapper {
  padding: 20px;
}
